#########################################################################################################################
                                           COVID-19 DATA COLLECTOR/ RIVM_DATA_2         
#This is a part of a project. The collector scraps data via BS4 from RIVM and ECDC's websites, wrangle and manipulate  
#the data convert them to a dataframe and save it as csv file. The csv files refresh themselves through main function  
#every certain time. So,they will keep up to date data. April 2020  github/IjzerenSteen#
#########################################################################################################################

#########################################################################################################################

In [ ]:
#Importing relevant library 
from bs4 import BeautifulSoup
import requests
import pandas as pd
import threading
import time
from datetime import date, datetime, timedelta

from google.colab import drive
drive.mount('drive')

In [ ]:
def main():
    t = threading.Timer(10, main) #21600 - 6 hours
    t.start() 
    rivm_data2()
    print('1')

In [ ]:
# Scrapping the 3 csv data from rivm.nl
request_data=requests.get('https://www.rivm.nl/coronavirus-covid-19/grafieken').text
soup = BeautifulSoup(request_data,'html.parser')
my_table=soup.find_all('script', {'type':"application/json"})
my_table=str(my_table)
my_table=my_table.split("csv")

In [ ]:
#Dataset1
#Data cleaning 
table_1 = my_table[4]
table_1 = table_1.replace('\\u0022', '')
table_1 = table_1.split("data:")[0]
table_1 = str(table_1).split(']","pre')[0]
table_1 = str(table_1).split("ren],")[1]
table_1 = table_1.replace("]", '')
table_1 = table_1.split("[")

In [ ]:
#Setting the data to a data frame 
df1 = pd.DataFrame([sub.split(",") for sub in table_1 ])
df1.drop([3], axis=1, inplace=True)
df1.drop(0,inplace=True)
df1.columns=["day_month","Reported_New_Cases","Reported_Previous_Cases"]

In [ ]:
#Changing the numerical columns from string to integer and adding a total column 
df1.Reported_New_Cases = pd.to_numeric(df1.Reported_New_Cases, downcast='integer')
df1.Reported_Previous_Cases = pd.to_numeric(df1.Reported_Previous_Cases, downcast='integer')
df1.loc[:,"Reported_Total_Cases"] = df1.Reported_New_Cases + df1.Reported_Previous_Cases

In [ ]:
 #Setting the date data to date form of pandas library
df1['Year']= '2020'
df1['date']=df1.day_month+' '+ df1.Year
df1.date=df1.date.str.replace("mrt","mar")
df1.date=pd.to_datetime(df1.date).dt.date
df1.drop(['day_month'], axis=1, inplace=True)
df1.drop(['Year'], axis=1, inplace=True)
df1 = df1[['date', 'Reported_New_Cases', 'Reported_Previous_Cases', 'Reported_Total_Cases']]
#df1.to_csv (r'/content/drive/My Drive/NLP proje/Our codings/Data Analysis/CSV/data_rivm_reported.csv',  index = True, header=True)

In [ ]:
#Dataset2
#Data cleaning process 
table_2 = my_table[3]
table_2 = table_2.replace('\\u0022', '')
table_2 = table_2.split("data:")[0]
table_2 = table_2.split(']","pre')[0]
table_2 = table_2.split("ren],")[1]
table_2 = table_2.replace("]", '')
table_2 = table_2.split("[")

In [2]:
#Setting the data to a data frame 
df2 = pd.DataFrame([sub.split(",") for sub in table_2 ])
df2.drop([3], axis=1, inplace=True)
df2.drop(0,inplace=True)
df2.columns=["day_month","Hospitalized_New_Cases","Hospitalized_Previous_Cases"]
    
#Changing the numerical columns from string to integer and adding a total column 
df2.Hospitalized_New_Cases = pd.to_numeric(df2.Hospitalized_New_Cases, downcast='integer')
df2.Hospitalized_Previous_Cases = pd.to_numeric(df2.Hospitalized_Previous_Cases, downcast='integer')
df2.loc[:,"Hospitalized_Total_Cases"] = df2.Hospitalized_New_Cases + df2.Hospitalized_Previous_Cases

#Setting the date data to date form of pandas library
df2['Year']= '2020'
df2['date']=df2.day_month+' '+ df2.Year
df2.date=df2.date.str.replace("mrt","mar")
df2.date=pd.to_datetime(df2.date).dt.date
df2.drop(['day_month'], axis=1, inplace=True)
df2.drop(['Year'], axis=1, inplace=True)
df2 = df2[['date', 'Hospitalized_New_Cases', 'Hospitalized_Previous_Cases', 'Hospitalized_Total_Cases']]
#df2.to_csv (r'/content/drive/My Drive/NLP proje/Our codings/Data Analysis/CSV/data_rivm_hospitalized.csv',  index = True, header=True)

NameError: name 'table_2' is not defined

In [3]:
 #Dataset3
#Data cleaning process 
table_3 = my_table[2]
table_3 = table_3.replace('\\u0022', '')
table_3 = table_3.split("data:")[0]
table_3 = str(table_3).split(']","pre')[0]
table_3 = str(table_3).split("ren],")[1]
table_3 = table_3.replace("]", '')
table_3 = table_3.split("[")


#Setting the data to a data frame 
df3 = pd.DataFrame([sub.split(",") for sub in table_3 ])
df3.drop([3], axis=1, inplace=True)
df3.drop(0,inplace=True)
df3.columns=["day_month","New_Cases","Previous_Cases"]


#Setting the date data to date form for pandas library
df3.New_Cases = pd.to_numeric(df3.New_Cases, downcast='integer')
df3.Previous_Cases = pd.to_numeric(df3.Previous_Cases, downcast='integer')
df3.loc[:,"Deaths"] = df3.New_Cases + df3.Previous_Cases


#Setting the date data to date form of pandas library
df3['Year']= '2020'
df3['date']=df3.day_month+' '+ df3.Year
df3.date=df3.date.str.replace("mrt","mar")
df3.date=pd.to_datetime(df3.date).dt.date
df3.drop(['day_month'], axis=1, inplace=True)
df3.drop(['Year'], axis=1, inplace=True)
df3 = df3[['date', 'New_Cases', 'Previous_Cases', 'Deaths']]
#df3.to_csv (r'data_rivm_death.csv',  index = True, header=True)

NameError: name 'my_table' is not defined

In [4]:
#Merging 3 datasets to a data frame
df_merged0=pd.merge(df1,df2[['date', 'Hospitalized_New_Cases', 'Hospitalized_Previous_Cases', 'Hospitalized_Total_Cases']], on='date', how="left") #Left join
df_merged=pd.merge(df_merged0,df3[['date', 'New_Cases', 'Previous_Cases', 'Deaths']], on='date', how="left") #Left join
df_merged['Country']='Netherlands'
#Save the dataframe as csv file to a certain path
df_merged.to_csv (r'/content/drive/My Drive/NLP proje/Our codings/Data Analysis/CSV/rivm_data_2_reported_hospitalized_deaths.csv',  index = True, header=True)

NameError: name 'df1' is not defined

                                                    # COVID-19 DATA COLLECTOR /RIVM_DATA_3 #

#This is a part of a project. The collector scraps data via BS4 from RIVM and ECDC's websites, wrangle and manipulate #

#the data convert them to a dataframe and save it as csv file. The csv files refresh themselves through main function  #

#every certain time. So,they will keep up to date data. April 2020  github/IjzerenSteen #

In [5]:
#Importing relevant library 
from bs4 import BeautifulSoup
import requests
import pandas as pd
import threading
import time
from datetime import date, datetime, timedelta

from google.colab import drive
drive.mount('drive')

ModuleNotFoundError: No module named 'google.colab'

In [6]:
#Part-1
#Scrapping the data from rivm.nl 
request_data=requests.get('https://www.rivm.nl/coronavirus-kaart-van-nederland').text
soup = BeautifulSoup(request_data,'html.parser')
my_table=soup.find_all('div', {'id':"csvData"})
table=str(my_table[0]).split('\n')

#Setting it to a dataframe 
df2 = pd.DataFrame([sub.split(";") for sub in table ])
print(df2)
#Cleanin the data 
df2.drop(0,0,inplace=True)
df2.drop(1,0,inplace=True)
df2.drop(df2.tail(1).index,0,inplace=True)
df2.drop([0,6,7,8], 1, inplace=True)
#print(df2)
headers=["Municipality","Reported_Case_Number","Hospitalized_Case_Number","Death","Population"]
df2.columns=headers
df2['Population'] = pd.to_numeric(df2['Population'])
df2['Reported_Case_Number'] = pd.to_numeric(df2['Reported_Case_Number'])
df2['Hospitalized_Case_Number'] = pd.to_numeric(df2['Hospitalized_Case_Number'])    
df2['Death'] = pd.to_numeric(df2['Death'])

                                0                      1           2  \
0    <div data-columns="Meldingen  Meldingen per 100.000  Zkh opname
1                           Gemnr               Gemeente   Meldingen
2                             796       's-Hertogenbosch         428
3                            1680            Aa en Hunze          14
4                             358               Aalsmeer          37
5                             197                 Aalten          53
6                              59          Achtkarspelen          10
7                             482           Alblasserdam          40
8                             613          Albrandswaard          86
9                             361                Alkmaar         220
10                            141                 Almelo          88
11                             34                 Almere         324
12                            484    Alphen aan den Rijn         159
13                           1723           Alphen-Chaam          45
14                           1959                 Altena         118
15                             60                Ameland           0
16                            307             Amersfoort         167
17                            362             Amstelveen         292
18                            363              Amsterdam        1944
19                            200              Apeldoorn         347
20                              3             Appingedam           5
21                            202                 Arnhem         254
22                            106                  Assen          39
23                            743                  Asten          70
24                            744          Baarle-Nassau          21
25                            308                  Baarn          50
26                            489            Barendrecht         109
27                            203              Barneveld         106
28                            888                   Beek          40
29                           1954             Beekdaelen         148
..                            ...                    ...         ...
328                          1701             Westerveld          32
329                           293            Westervoort          32
330                          1950            Westerwolde           6
331                          1783               Westland         240
332                            98       Weststellingwerf          27
333                           614             Westvoorne          24
334                           189                Wierden          44
335                           296                Wijchen         127
336                          1696             Wijdemeren          23
337                           352     Wijk bij Duurstede          28
338                           294            Winterswijk          38
339                           873            Woensdrecht          59
340                           632                Woerden         139
341                           880             Wormerland          42
342                           351             Woudenberg          28
343                           479               Zaanstad         330
344                           297             Zaltbommel          78
345                           473              Zandvoort          31
346                            50               Zeewolde          34
347                           355                  Zeist         138
348                           299               Zevenaar          83
349                           637             Zoetermeer         165
350                           638            Zoeterwoude           9
351                          1892               Zuidplas         118
352                           879                Zundert          67
353                           301                Zutphen          77
354                          1896        Zwartewaterland         137
355                           642            Zwijndrecht         119
356                           193                 Zwolle         339
357                        </div>                   None        None

                          3          4  \
0    Zkh opname per 100.000  Overleden
1                Zkh opname  Overleden
2                       124         67
3                         1          0
4                         9          2
5                         6          5
6                         0          0
7                        10          1
8                        10          7
9                        52         25
10                       22          9
11                      116         12
12                       57         22
13                       17          5
14                       30         11
15                        0          0
16                       56         22
17                       55         33
18                      556        198
19                       68         41
20                        3          0
21                       61         23
22                       12          2
23                       17         10
24                        7          1
25                       11          7
26                       33         10
27                       18          6
28                       15          4
29                       48         20
..                      ...        ...
328                       9          3
329                      12          4
330                       5          0
331                      55         26
332                       3          4
333                       7          0
334                       4          5
335                      39         11
336                       7          0
337                       9          1
338                       4          2
339                       5          6
340                      45         16
341                      20          6
342                       9          2
343                     107         40
344                      19          9
345                      10          8
346                      11          4
347                      33         16
348                      43         14
349                      47         10
350                       3          0
351                      22         17
352                      20          9
353                      23         10
354                      35         17
355                      17          9
356                      53         45
357                    None       None

                                                     5                      6  \
0    Overleden per 100.000" data-value="Zkh opname ...                   None
1                                              BevAant  Meldingen per 100.000
2                                               155113                  275.9
3                                                25453                     55
4                                                31857                  116.1
5                                                27117                  195.4
6                                                27836                   35.9
7                                                20165                  198.4
8                                                25589                  336.1
9                                               109444                    201
10                                               73080                  120.4
11                                              211840                  152.9
12                                              111889                  142.1
13                                               10213                  440.6
14                                               55980                  210.8
15                                                3718                      0
16                                              157279                  106.2
17                                               91691                  318.5
18                                              872779                  222.7
19                                              163829                  211.8
20                                               11644                   42.9
21                                              161368                  157.4
22                                               68606                   56.8
23                                               16734                  418.3
24                                                6860                  306.1
25                                               24873                    201
26                                               48713                  223.8
27                                               59077                  179.4
28                                               15868                  252.1
29                                               35976                  411.4
..                                                 ...                    ...
328                                              19460                  164.4
329                                              14973                  213.7
330                                              25796                   23.3
331                                             110357                  217.5
332                                              25916                  104.2
333                                              14728                    163
334                                              24440                    180
335                                              41124                  308.8
336                                              24360                   94.4
337                                              23910                  117.1
338                                              28865                  131.6
339                                              21883                  269.6
340                                              52294                  265.8
341                                              16299                  257.7
342                                              13362                  209.5
343                                             156711                  210.6
344                                              28901                  269.9
345                                              17116                  181.1
346                                              22656                  150.1
347                                              64932                  212.5
348                                              43740                  189.8
349                                             125283                  131.7
350                                               8611                  104.5
351                                              43894                  268.8
352                                              21821                    307
353                                              47942                  160.6
354                                              22690                  603.8
355                                              44741                    266
356                                             128831                  263.1
357                                               None                   None

                          7                      8
0                      None                   None
1    Zkh opname per 100.000  Overleden per 100.000
2                      79.9                   43.2
3                       3.9                      0
4                      28.3                    6.3
5                      22.1                   18.4
6                         0                      0
7                      49.6                      5
8                      39.1                   27.4
9                      47.5                   22.8
10                     30.1                   12.3
11                     54.8                    5.7
12                     50.9                   19.7
13                    166.5                     49
14                     53.6                   19.6
15                        0                      0
16                     35.6                     14
17                       60                     36
18                     63.7                   22.7
19                     41.5                     25
20                     25.8                      0
21                     37.8                   14.3
22                     17.5                    2.9
23                    101.6                   59.8
24                      102                   14.6
25                     44.2                   28.1
26                     67.7                   20.5
27                     30.5                   10.2
28                     94.5                   25.2
29                    133.4                   55.6
..                      ...                    ...
328                    46.2                   15.4
329                    80.1                   26.7
330                    19.4                      0
331                    49.8                   23.6
332                    11.6                   15.4
333                    47.5                      0
334                    16.4                   20.5
335                    94.8                   26.7
336                    28.7                      0
337                    37.6                    4.2
338                    13.9                    6.9
339                    22.8                   27.4
340                    86.1                   30.6
341                   122.7                   36.8
342                    67.4                     15
343                    68.3                   25.5
344                    65.7                   31.1
345                    58.4                   46.7
346                    48.6                   17.7
347                    50.8                   24.6
348                    98.3                     32
349                    37.5                      8
350                    34.8                      0
351                    50.1                   38.7
352                    91.7                   41.2
353                      48                   20.9
354                   154.3                   74.9
355                      38                   20.1
356                    41.1                   34.9
357                    None                   None

[358 rows x 9 columns]